@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat&family=Oswald&display=swap');

/*

font-family: 'Fredoka One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;

*/

body {
  font-family: 'Montserrat', sans-serif;
}

@-webkit-keyframes buzz-out-on-hover {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes buzz-out-on-hover {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

header.contain-to-grid {
  background: #fff !important;
  -webkit-box-shadow: -5px 5px 15px 0px rgba(109,202,223,0.20);
  box-shadow: -5px 5px 15px 0px rgba(109,202,223,0.20);
  height: 100px;
}

header.contain-to-grid.home {
  margin-bottom: .5px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .container {
  padding-top: 100px;
}

.top-bar {
  background: #fff !important;
}

.top-bar-section ul {
  margin: 25px 0;
}

.top-bar-section ul li.menu-item {
  text-align: center;
  margin: 0 8px;
  width: 135px;
  border-radius: 25px 25px 25px 25px;
}

.top-bar-section ul li.menu-item a {
  background: rgb(109,202,223) !important;
  background: linear-gradient(0deg, rgba(109,202,223,1) 0%, rgba(160,160,255,1) 50%, rgba(0,212,255,1) 100%) !important;
  font-family: 'Fredoka One', cursive;
  font-size: 18px;
  text-shadow: 2px 2px 5px #000;
  border-radius: 25px 25px 25px 25px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.top-bar-section ul li.menu-item a:hover {
  -webkit-animation-name: buzz-out-on-hover;
  animation-name: buzz-out-on-hover;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.top-bar-section ul li {
  background: transparent !important;
}

.top-bar-section ul li.divider {
  display: none;
}

#content.contentSection {
  border: none !important;
}


header#siteName {
  background-image: url('../img/clouds.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 260px;
}

header#siteName .overlay {
  background-color: rgba(106, 200, 220, 0.25);
  overflow: hidden;
  height: 100%;
  z-index: 2;
  padding: 50px;
}

header#siteName h1.siteName {
  color: #8F3A73;
  font-size: 68px;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  line-height: 72px;
}

header#siteName h2.siteName {
  color: #134053;
  font-size: 22px;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  line-height: 30px;
  text-transform: uppercase;
}

.scallop-down{
  height:70px;
  width:100%;
  background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 40, from(#86d7fd), color-stop(0.49, #86d7fd), color-stop(0.51, #FFFCDA), to(#FFFCDA));
  background-size: 49px 100%;
}

.scallop-up{
  height:25px;
  width:100%;
  background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 40, from(#86d7fd), color-stop(0.49, #86d7fd), color-stop(0.51, transparent), to(transparent));
  -webkit-background-size: 49px 100%;
  margin-top: -45px;
}

#homepage1, #homepage1 .row > div {
  background-color: #86d7fd;
  width: 100%;
  height: auto;
}

/* #homepage1, #homepage2, #homepage3, */
#homepage1 .row > div .entry-content,
#homepage2 .row > div .entry-content,
#homepage3 .row > div .entry-content {
  display: flex;
  justify-content: space-between;
}

.side {
  width: 49%;
}

#homepage1 .side img {
  width: 80%;
  opacity: 0;
  left: -250px;
  position: relative;
  transition: 1s;
}

#homepage1 .side img.inView,
#homepage2 .side:nth-child(odd) img.inView {
  left: 0;
  opacity: 1;
}

#homepage2 .side:nth-child(even) img.inView,
#homepage3 .side:nth-child(even) img.inView {
  right: 0;
  opacity: 1;
}

#homepage2 .side img {
  box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 50%);
  border: 1px solid #1f1f1f;
}

#homepage2 .side:nth-child(odd) img {
  opacity: 0;
  left: -250px;
  position: relative;
  transition: 1s;
}

#homepage2 .side:nth-child(even) img,
#homepage3 .side:nth-child(even) img {
  opacity: 0;
  right: -250px;
  position: relative;
  transition: 1s;
}

h2 {
  color: #6ACC52;
  text-transform: uppercase;
  font-family: 'Fredoka One', cursive;
  text-shadow: 3px 1px 0px rgb(0 0 0 / 35%);
  font-size: 41px;
  line-height: 1.2;
}

h3 {
  font-family: 'Fredoka One', cursive;
  font-size: 34px;
  line-height: 1.2;
  color: #EAA056;
}

h4 {
  color: #90307C;
  font-family: 'Fredoka One', cursive;
  font-size: 32px;
  line-height: 1.2;
}

#homepage3 {
  background-image: url('../img/clouds.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  position: relative;
  top: -25px;
}

#homepage3 .pg3overlay {
  background-color: rgba(106, 200, 220, 0.75);
  overflow: hidden;
  height: 100%;
  z-index: 2;
  padding: 50px;
}

#homepage3 .pg3overlay .row #content.contentSection {
  background: transparent;
}

#homepage3 .side img {
  width: 80%;
  margin-top: 120px;
}

#homepage3 .side:nth-child(even) p {
  text-align: center;
}

#homepage3 h2 {
  color: #2D4D98;
  text-transform: none;
  margin-bottom: 25px;
}

.scallop-down-hp3{
  height:25px;
  width:100%;
  background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 40, from(transparent), color-stop(0.49, transparent), color-stop(0.51, white), to(white));
  background-size: 49px 100%;
  position: relative;
  z-index: 9999;
  bottom: 50px
}

.scallop-up-hp3{
  height:25px;
  width:100%;
  background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 40, from(transparent), color-stop(0.49, transparent), color-stop(0.51, #FFFCDA), to(#FFFCDA));
  -webkit-background-size: 49px 100%;
  position: relative;
  z-index: 99999;

}

.bio {
  font-size: 17px;
  line-height: 0.9em;
  background-color: #E9CAFF;
  padding: 6px 22px;
  border-radius: 15px;
  margin: 0px 0px 15px 0px;
  display: inline-block;
  font-family: 'Fredoka One', cursive;
}

#homepage2, #homepage2 .row > div {
  background: #FFFCDA;
}
